.svganimLoading svg {
  position: absolute;
  width: 240px;
  height: 120px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.svganimLoading svg #plug,
.svganimLoading svg #socket {
  fill: #fdb515;
}

.svganimLoading svg #loop-normal {
  fill: none;
  stroke: #fdb515;
  stroke-width: 12;
}

.svganimLoading svg #loop-offset {
  display: none;
}
